@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #aa0000;
    --first-color-light: #afa5d9;
    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
*,
::before,
::after {
    box-sizing: border-box;
}
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}
a {
    text-decoration: none;
}

.boxx {
    background-color: #f0f0f0;
    z-index: -1;
    border-radius: 8px;
}

.custom-background {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
}

.turun {
    padding-top: 5px;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img {
    /* width: 200px; */
    justify-content: center;
    margin: 0;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}
.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}
.nav_link:hover {
    color: var(--white-color);
}
.nav_icon {
    font-size: 1.25rem;
}
.show {
    left: 0;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}
.active {
    color: var(--white-color);
}
.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
.height-100 {
    height: 100vh;
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 200px;
        height: 40px;
    }

    .header_img p {
        margin-bottom: 5px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

.logo {
    max-width: 100px;
    max-height: 75px;
}

.content {
    margin-top: 5rem;
}

.totalmenu {
    background: #f3be8d;
    border-radius: 10px;
}

.totalcategory {
    background: #98e4ae;
    border-radius: 10px;
}

.totalreview {
    background: #61b7e8;
    border-radius: 10px;
}

.totalevent {
    background: #f58989;
    border-radius: 10px;
    min-height: 134px;
}

.gambar {
    display: flex;
    align-items: center;
}

.nama {
    margin-left: 10px; /* Menambahkan margin kiri agar terdapat jarak antara gambar dan teks */
}

.share {
    display: flex; /* Menggunakan display flex untuk mengatur tata letak flexbox */
    align-items: center; /* Mengatur item ke pusat secara vertikal */
}

.shares {
    width: 20px;
}

.replies {
    display: flex; /* Menggunakan display flex untuk mengatur tata letak flexbox */
    align-items: center; /* Mengatur item ke pusat secara vertikal */
}

.reviewrating {
    background: #f7f7f7;
    border-radius: 10px;
}

.bintang p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 3px;
}

.judul {
    background: #d9d9d9;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments {
    background: white;
    border-radius: 10px;
}

.boxrating {
    height: 100%;
    background: #d9d9d9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.komentar {
    height: 60vh;
    overflow-y: scroll;
}

.addmenu {
    border-radius: 10px;
    background: #f7f7f7;
}

@media (min-width: 1070px) {
    .addmenu {
        height: 242px;
    }

    .menubang {
        height: 90px;
    }
}

.menubang {
    background: #ffff;
    border-radius: 10px;
}

/* css buat carousel */
.img-wrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.promo {
    border-radius: 10px;
}

.img-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

.carousel-item .card {
    border-radius: 25px;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #000000;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* button buat delete */
.noselect {
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

.noselect,
.noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 15px;
    fill: #eee;
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.noselect:focus {
    outline: none;
}

.noselect:active .icon svg {
    transform: scale(0.8);
}

/* Button buat share */
.sharebutton {
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-size: 18px;
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); */
    transition: all 0.3s;
}

.warnashare {
    background: #f69c48;
}

.warnareplies {
    background: #2eee4c;
}

.sharebutton:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.sharebutton:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.sharebutton span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.sharebutton svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.sharebutton .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.sharebutton:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

.sharebutton:hover svg {
    transform: rotate(45deg);
}

.sharebutton:hover img {
    transform: rotate(45deg);
}

/* button buat save atau download */
.bookmarkBtn {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(
        to bottom,
        rgb(255, 136, 255),
        rgb(172, 70, 255)
    );
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
}

.icon {
    border-radius: 1px;
}

.texts {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
    width: 90px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
}

.bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
}
