/* Swiper container */
.swiper-container {
    padding-top: 150px;
}

/* Swiper slide images */
.swiper-slide img {
    max-height: 50em;
    width: 100%;
    object-fit: cover;
}

.swiper-slide img {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img:hover {
    transform: scale(1.05);
}

/* Style for the selected image */
.selected-image img {
    border: 2px solid red;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

/* Pagination color */
.swiper-pagination .swiper-pagination-bullet {
    background-color: red;
}

/* Active Pagination color */
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: darkred;
}

/* Navigation buttons color */
.swiper-button-prev,
.swiper-button-next {
    color: red !important;
    font-size: 20px !important; /* Adjust the size as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .swiper-container {
        padding-top: 75px;
    }
    .swiper-slide img {
        height: 20em;
    }
}
