@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.hero-section {
    background-image: url('path/to/your/image.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.hero-section .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-section .hero-image img {
    width: 100%;
    height: auto;
    transform: translateY(-20%);
    object-fit: cover;
    filter: none;
}

.hero-section .hero-content {
    position: absolute;
    top: 50%;
    left: 10%; /* Adjust the left distance as needed */
    transform: translateY(-50%);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 11.84px;
    word-wrap: break-word;
    text-align: left; /* Align text to the left */
    max-width: calc(100% - 40px); /* Considering padding on hero-section, adjust as needed */
}

.hero-section .hero-content h1 {
    font-size: 4rem;
    max-width: 600px;
    line-height: 70px;
    opacity: 0.8; 
}

.hero-section .hero-content h2 {
    font-size: 2rem;
    max-width: 600px;
    line-height: 70px;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
}

.hero-section .hero-content p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .hero-section {
        height: 400px;
        padding-top: 200px;
    }

    .hero-section .hero-image img {
        height: 1000px; /* Adjust as needed */
    }

    .hero-section .hero-content {
        font-size: 15px;
        letter-spacing: 6px;
        text-align: center;
        left: 5%;
    }
    
    .hero-section .hero-content h1 {
        font-size: 2rem;
        line-height: 40px;
    }

    .hero-section .hero-content h2 {
        font-size: 1rem;
        line-height: 40px;
    }

    .hero-section .hero-content p {
        font-size: 0.8rem;
        line-height: 20px;
    }
}
