@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to top, rgba(255, 0, 0, 1), rgb(88, 1, 1));
    background-repeat: no-repeat;
    background-size: cover; /* Mengisi elemen body, tetapi bisa memotong latar belakang */
    background-attachment: fixed; /* Membuat latar belakang tetap saat menggulir halaman */
}

/*------------ Login container ------------*/

.login-container {
    max-width: 900px;
}
/*------------ Right box ------------*/

.right-box {
    background-color: #c5c5c5;
    border-radius: 25px;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

.contact a {
    color: blue;
}
.bold-text {
    font-weight: bold;
}
