#promo {
    padding: 75px 250px 75px 250px;
}

.header {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
}

.grid-title,
.grid-title2,
.grid-title-space {
    margin-bottom: 15px;
    font-family: Bebas Neue;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 11.84px;
}

.grid-title2 {
    color: var(--light-red, #fe0002);
}

.grid-title-space {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.grid-item {
    width: 400px;
    height: 400px; /* Set a fixed height for uniformity */
    overflow: hidden; /* Hide any image overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #promo {
        padding: 50px 30px; /* Adjust padding further for smaller screens */
    }

    .grid-item {
        width: 150px;
        height: 150px; /* Set a fixed height for uniformity */
    }

    .grid-title,
    .grid-title2,
    .grid-title-space {
        font-size: 24px; /* Decrease font size further for smaller screens */
        letter-spacing: 3px; /* Adjust letter spacing for readability */
    }
}
