/* General Styles */
.main-container {
    background-color: black;
}

/* Header Styles */
.coffee-title {
    font-size: 64px;
    font-family: "Bebas Neue";
    font-weight: 400;
    letter-spacing: 11.84px;
    word-wrap: break-word;
}

.white-text {
    color: white;
}

.red-text {
    color: #fe0002;
}

/* Reviews Styles */
.reviews-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.review-col {
    width: calc(
        100% / 2 - 20px
    ); /* Adjust width for individual review card styles */
    margin: 10px;
}

.review-col:nth-child(odd) {
    clear: both;
}

.card-body {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.review-rating {
    /* Styling for review ratings */
}

.review-user {
    /* Styling for review users */
}

/* Review Button Styles */

.review-button-col {
    /* Adjust individual review button column styles */
}

.animated-button {
    background-color: #fe0002;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: 14px 24px;
    text-decoration: none;
    transition: all 250ms;
}

.animated-button:hover,
.animated-button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(255, 255, 255, 0.65);
}

.animated-button:hover {
    transform: translateY(-1px);
}

.animated-button:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .card-grid {
    }
    .card {
        width: 60%;
        text-align: center;
        justify-content: center;
        margin-left: 75px;
    }
    .coffee-title {
        font-size: 24px;
        letter-spacing: 8px;
    }

    .card-body {
        font-size: 8px;
    }
}
